#logo {
    height: 50px;
}

.person-box {
    width: 300px;
    height: 300px;
}
.person-box img {
    width: 250px;
    height: 250px;
}
main {
    margin-top: 82px;
}
.scroll-down .fixed-top {
    /*transform: translate3d(0, -100%, 0);*/
    transform: translateY(-100%);
    transition: 0.3s;
}
.scroll-up .fixed-top {
    /*transform: none;*/
    /*transition: 1s;*/
}


@media (max-width: 1200px) {
    .person-box {
        width: 150px;
        height: 150px;
    }
    .person-box img {
        width: 150px;
        height: 150px;
    }
    .person-box p.h4 {
        font-size: medium;
    }
    .person-box p {
        font-size: x-small;
    }
}

.mask-wrapper {
    position: relative;
}

.mask-top {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.mask-bottom {
    position: absolute;
    top: 0;
    width: 100%;
}

.circle-item {
    clip-path: circle(0%);
    transition: clip-path 2s;
}

.fade-in-item {
    opacity: 0;
}
