#logo {
    height: 50px;
}

.person-box {
    width: 300px;
    height: 300px;
}
.person-box img {
    width: 250px;
    height: 250px;
}
.func {
    margin-top: 90px;
    margin-bottom: 60px;
}

.list {
    display: inline-block;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.num {
    float: left;
}

.text-func {
    margin-left: 125px;
}
h2 {
    font-size: 38px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.0035em;
    margin-bottom: 60px;
    margin-top: 90px;
}

h3 {
    font-size: 26px;
    font-weight: 500;
}

.list-desc {
    margin-top: 6px;
    font-size: 24px;
    width: 988px;
}
p {
    line-height: 36px;
}

@media (max-width: 1200px) {
    .person-box {
        width: 150px;
        height: 150px;
    }
    .person-box img {
        width: 150px;
        height: 150px;
    }
    .person-box p.h4 {
        font-size: medium;
    }
    .person-box p {
        font-size: x-small;
    }
}

.fade-in-item {
    opacity: 0;
}
