#logo {
    height: 50px;
}

.person-box {
    width: 300px;
    height: 300px;
}
.person-box img {
    width: 250px;
    height: 250px;
}

@media (max-width: 1200px) {
    .person-box {
        width: 150px;
        height: 150px;
    }
    .person-box img {
        width: 150px;
        height: 150px;
    }
    .person-box p.h4 {
        font-size: medium;
    }
    .person-box p {
        font-size: x-small;
    }
}

.mask-wrapper {
    position: relative;
}
.mask-top {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.mask-bottom {
    position: absolute;
    top: 0;
    width: 100%;
}

.circle-item {
    clip-path: circle(0%);
    transition: clip-path 2s;
}
.fade-in-item {
    opacity: 0;
}

.partner-logo {
    height: 130px;
    filter: grayscale(100%);
    transition: filter 0.5s;
    opacity: 0;
}
.partner-logo:hover {
    filter: grayscale(0%);
}

#main-functions img {
    height: 90px;
}

.stat {
    overflow:hidden;
}

#usage-examples-carousel .carousel-item {
    height: 500px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#usage-examples-carousel .carousel-caption {
    background: radial-gradient(circle, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
}
